<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GuestBook - View</title>
    <link rel="stylesheet" href="../common/common.css" />
    <link rel="stylesheet" href="./main.css" />
  </head>
  <body>
    <div id="panel-container">
      <div id="left-panel">
        <img id="logo" src="../assets/logo.png" alt="" />
      </div>
      <div id="right-panel">
        <ion-icon
          id="logout-icon"
          name="log-out-outline"
          onclick="logout()"
        ></ion-icon>
        <h1 id="page-title">
          View Guest Books
          <ion-icon id="toggle-search" name="filter-circle-outline"></ion-icon>
        </h1>
        <div id="filter-box">
          <div class="form-item">
            <label for="search">Search by author/title</label>
            <input type="text" id="search" name="search" />
          </div>
          <button class="submit" onclick="fetchItems()">Search</button>
        </div>
        <div id="guest-books-list"></div>
        <div class="pagination">
          <button class="previous" onclick="previousPage()">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </button>
          <span id="pagination-details"></span>
          <button class="next" onclick="nextPage()">
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </button>
        </div>
      </div>
    </div>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script src="../common/common.js"></script>
    <script src="main.js"></script>
  </body>
</html>
